<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<!-- CSS only -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
	<!-- JavaScript Bundle with Popper -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
		crossorigin="anonymous"></script>
</head>
<style>
	body {
		background-image: url('bg.jpg');
		background-size: 100%;
	}
</style>

<body>
	<div class="col-4 container rounded" style="margin-top:5%; margin-top: 15%; border:4px solid rgb(208, 4, 4)">

		<div class="row justify-content-center pt-5">
			<h1 style="margin-left:80%; color:#ffffff;">Login</h1>
		</div>
		<form action="/checkLogin" method="post">
			<div class="form-group row justify-content-center mt-2">
				<div class="col-9 ml-3 pb-1 d-flex">
					<i class="bi bi-person-circle pt-1 pr-1"></i>
					<input type="text" placeholder="Username" name="user" class="form-control border-info placeicon"
						value="{{username}}">

				</div>
			</div>

			<div class="form-group row justify-content-center">
				<div class="col-9 ml-3 pb-1 d-flex">
					<i class="bi bi-file-earmark-lock pt-2 pr-1"></i>
					<input type="password" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;"
						name="pass" class="form-control border-info placeicon" value="{{password}}">
				</div>
			</div>
			<div class="form-group row d-flex">
				<div class="col-5" style="margin-left:12% ;">
					<input type="checkbox" name="check">
					<label for="check" style="color:rgb(208, 4, 4); font-weight: bold;">Remember password</label>
				</div>
				<div style="margin-left:70% ;"><a href="#" style="color:rgb(0, 0, 0); font-weight: bold;">Forgot password</a></div>
			</div>

			<div class="form-group row justify-content-center mb-4">
				<div class="col-3 px-3"> <input type="submit" value="Login"
						class="font-weight-bold btn btn-success text-light"> </div>
				<div class="col-3 px-3"><a href="/signup" class="font-weight-bold btn btn-info text-light">Register</a>
				</div>
			</div>
		</form>
	</div>
	</div>
</body>

</html>